{% load static %}
<!doctype html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	
    <title>{%if page_title%}{{page_title}}{%else%}Projects{%endif%}</title>
	
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Open+Sans:300italic,400italic,400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% get_static_prefix %}css/base.css" rel="stylesheet" media="all">
    <link href="{% get_static_prefix %}css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet" media="all">
    {% block jshead %}
    {% endblock %}
</head>
<body>
    <div id="content">
      {% block content %}
      {% include "form.html" %}
      {% endblock %}
    </div>
    {% block js %}
    <script type="text/javascript" src="{% get_static_prefix %}js/d3.v3.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.10.3.custom.js"></script>
    {% autoescape off %}
    {% if jsons %}
    <script type="text/javascript" >
    {% for key, value in jsons.items %}
      var {{key}} = {{value}};
    {% endfor %}
    </script>
    {% endif %}
    {% endautoescape %}
    <script type="text/javascript" src="{% get_static_prefix %}js/formhelper.js"></script>
  {% endblock %}

</body>
</html>










