{% extends "home.html" %}

<!--person-->
<!--project-->
<!--topic-->

{% block content %}
{% block auth_header %}
  {% include "auth_header.html" %}
{% endblock %}
<h1>{{page_title}}</h1>
{% if projects %}
<h3>Projects</h3>
<ul class="projects">
  {% for p in projects %}
  <li class="project">
  <a href="{{root_url}}edit/project/{{p.id}}/">
    <div class="project-title"> {{p.title}} </div></a>
    {% if p.start_year %} <div class="project-years">
      {% if p.end_year %} {{p.start_year}} - {{p.end_year}}
      {% else %} since {{p.start_year}}
      {% endif %}
    </div> {% endif %}
    <div class="project-people"> 
      {% for person in p.people %} 
      <a href="/profiles/{{ person.id }}" class="profilelink">
        {{ person.full_name }}
      </a>
      {% endfor %}
    </div>
    {% if p.description %}
    <div class="project-description"> {{p.description}} </div>
    {% endif %}
    {% if p.topics %}
    <div class="project-topics">{{p.topics}}</div>
    {% endif %}
    {% if p.countries %}
    <div class="project-countries">{{p.countries}}</div>
    {% endif %}
    {% if p.website %}
    <a href="{{p.website}}"><div class="project-website">{{p.website}}</div></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}



{% if topic %}
<h3>Topics</h3>
<ul class="topics">
  {% for t in topic %}
  <li class="topic">
  <a href="{{root_url}}edit/topic/{{t.id}}">
      <div class="topic-title"> {{t.title}} </div></a>
    <div class="topic-description"> {{t.description}} </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if person %}
<h3>People</h3>
<ul class="people">
  {% for n in person %}
  <li class="person">
  <a href="{{root_url}}edit/person/{{n.id}}">
      <div class="person-name"> {{n.full_name}} </div></a>
      <div class="person-title"> {{n.official_title}} </div>
      <div class="person-interests"> {{n.interests}} </div>
    {% if n.email %}
      <a href="mailto:{{n.email}}"><div class="person-email">{{n.email}}</div></a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}








