@sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@condensed: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@char: 16px;
@vu: 22px;
@col: 64px;
@pad: 6px;
@gut: 12px;
@strip: @col + @gut;

// COLORS
@white: #FFFFFF;
@back: @white;
@text: #414042;
@black: #000000;
@blue: #0785FF;
@midgray: #9E9CA1;
@orange: #FF4010;
@red: #7D241A;
@lighttext: lighten(@text, 30%);
@fainttext: lighten(@text, 70%);
@verylight: darken(@back, 15%);

.cols(@num) {
  width: (@col * @num) + (@gut * (@num - 1));
}

.select-highlight(@color){
  ::selection { background: @color;}
  ::-moz-selection {background: @color;}
}
.aselect-highlight(@color){
  ::selection { background: @color;}
  ::-moz-selection {background: @color;}
}

.inset(@rad, @color){
  box-shadow:         inset 0 0 @rad @color;
  -moz-box-shadow:    inset 0 0 @rad @color;
  -webkit-box-shadow: inset 0 0 @rad @color;
}

.insetDouble(@rad, @color){
  box-shadow:         inset 0 0 @rad @color, inset 0 1px 0 @color;
  -moz-box-shadow:    inset 0 0 @rad @color, inset 0 1px 0 @color;
  -webkit-box-shadow: inset 0 0 @rad @color, inset 0 1px 0 @color;
}

.outset(@rad, @color){
  box-shadow:         0 1px @rad @color;
  -moz-box-shadow:    0 1px @rad @color;
  -webkit-box-shadow: 0 1px @rad @color;
}

.radius(@rad){
  border-radius: @rad;
  -webkit-border-radius: @rad;
  -moz-border-radius: @rad;
}

.specialShadow(){
  box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 -1px 0 rgba(0,0,0,0.3) inset;
}

.hLines(@thick, @color){
  border-top: @thick solid @color;
  border-bottom: @thick solid @color;
}

.transition(@t){
  transition: all @t linear;
}
a {
  text-decoration: none;
  color: @blue;
  &:hover {
    color: @black;
  }
}

h1, h2, h3, h4 {
  font-family: @condensed;
  color: @text;
}
h3 { letter-spacing: .1em; }
h1 { letter-spacing: .05em; }

.clear(){
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

body {
  font-family: @sans;
  font-size: @char;
  line-height: @vu;
  .clear;
  color: @text;
  background-color: darken(@back, 5%);
  .select-highlight( lighten(yellow, 25%));
}

ul {
  .clear;
  list-style-type: none;
}

#content {
  margin-left: auto;
  margin-right: auto;
  .cols(12);
  background-color: @back;
  padding-left: @strip;
  padding-right: @strip;
  padding-top: @vu;
  padding-bottom: @vu * 6;
}

.form {
  margin-top: @vu;
  margin-bottom: @vu;
}

li {
  margin-bottom: @vu;
  &:focus {
    label {
      color: @blue;
    }
  }
}

input, textarea, select { 
  display: block; 
}

label { 
  display: block;
  font-family: @condensed;
  font-weight: 700;
  // padding-left: @pad;
  margin-bottom: @vu / 2;
  color: @midgray;
  letter-spacing: .1em;
  .transition(0.2s);
}

input[type="text"], textarea, input[type="password"] { 
  ///.inset(@pad, lighten(@text, 30%));
  font-family: @sans;
  .clear; 
  padding: @pad;
  font-size: @char - 1;
  color: lighten(@text, 5%);
  background: linear-gradient(to bottom, #fcfcfc 0%,#ffffff 100%);
  border: 1px solid @back;
  .insetDouble(@pad, darken(@back, 16%));
  // .hLines(3px, @back);
  .transition(0.2s);
  // .radius(4px);
  &:focus {
    border: 1px solid @blue;
    color: @black;
    // color: @blue;
    // .hLines(3px, @blue);
    background: @white;
    // .outset(@pad + 2, lighten(@blue, 10%));
  }
}

input[type="text"], input[type="password"] { 
  .cols(8);
  height: @vu * 1.5;  
}

textarea {
  .cols(8);
  max-width: @col * 8 + @gut * 7;
}

select {
  font-family: @sans;
  .clear;
  padding-left: @pad;
  .cols(4);
  height: @vu * 1.5;
  font-size: @vu - 4;
  color: @black;
  border-left: 4px solid @lighttext;
  border-right: 4px solid @lighttext;
  &:focus {
    font-family: @sans;
    border-left: 4px solid @blue;
    border-right: 4px solid @blue;
  }
}

input[type="file"] {
  .clear;
  height: @vu * 1.5;
  .cols(4);
  padding: @vu / 6;
  font-family: @sans;
  font-size: @vu - 4;
  color: @lighttext;
  &:focus {
    color: @blue;
  }
}

p {
    max-width: @col * 8;
}

p.error {
  .cols(8);
  padding: @pad;
  color: @red;
  background-color: lighten(@red, 60%);
  line-height: @vu * 1.5;
  .radius(6px);
  font-family: @condensed;
  // font-size: @vu - 4;
  border: 1px solid @red;
}

input[type="submit"] {
  .clear;
  height: @vu * 1.5;
  .cols(4);
  .radius(6px);
  padding: @vu / 6;
  font-family: @condensed;
  font-size: @vu - 4;
  color: @text;
  cursor: pointer;
  border: 1px solid @text;
  background-color: #fafafa;
  .outset(3px, darken(@back, 25%));
  &:hover {
    color: @blue;
    border: 1px solid @blue;
  }
  &:focus {
    color: @blue;
    border: 1px solid @blue;
  }
  &:active {
    color: @blue;
    border: 1px solid @blue;
    background-color: lighten(@blue, 45%);
    .outset(0px, @back );
  }
}

// Autocomplete widget
.ui-autocomplete {
  .clear;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  z-index: 100;
  background-color: darken(@back, 4%);
  color: @text;
  .outset(6px, darken(@back, 13%));
}

.ui-menu-item {
  .clear;
}

.ui-menu .ui-menu-item a {
  .clear;
  padding-top: @pad;
  padding-bottom: @pad;
  padding-left: @pad;
  padding-right: @pad;
	text-decoration: none;
  color: lighten(@text, 24%);
	display: block;
  cursor: pointer;
  border-right: 1px solid @verylight;
  border-left: 1px solid @verylight;
  border-bottom: 1px solid @verylight;
  border-top:  1px solid darken(@back, 4%);
}
.ui-state-focus, .ui-state-hover {
  border-right: 1px solid @blue !important;
  border-left:  1px solid @blue !important;
  border-bottom:  1px solid @blue !important;
  border-top:  1px solid @blue !important;
  background-color: @back;
  color: @black !important;
}
a.ui-state-focus, a.ui-state-hover {
  background-color: @back;
}

.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}




// for the index page
ul { 
  .cols(7);
}

ul.projects {
  .project-title { font-weight: 700; }
  .project-people { 
    font-weight: 600; 
    color: @black;
  }
  .project-description { font-weight: 300; color: @black; }
  .project-countries { 
    font-family: @condensed; 
    font-weight: 700; 
    color: lighten(@text, 10%);
    letter-spacing: .08em;
  }
}

ul.topics {
  .topic-title {font-weight: 700; text-transform: capitalize; }
}

ul.people {
  .person-name {font-weight: 700; }
  .person-title {font-style: italic; color: @black; font-weight: 300; }
  .person-email {font-weight: 700; font-family: @condensed; font-size: @char * 0.9; }
  .person-interests { font-weight: 700; font-family: @condensed; font-size: @char * 0.9; text-transform: uppercase;
                      letter-spacing: .08em;}
}


.helpBubble {
  padding-left: @vu;
  padding-right: @vu;
  padding-top: @vu / 2;
  padding-bottom: @vu / 2;
  background-color: lighten(desaturate(darken(@blue, 10%), 40%), 10%);
  color: @white;
  .radius(5px);
  .outset(6px, fade(@text, 70%));
  .helpText { 
    font-family: @condensed;
    letter-spacing: 0.08em;
    font-size: @char - 1;
    line-height: @vu + 4;
    font-weight: 300;
  }
}

