a {
  text-decoration: none;
  color: #0785ff;
}
a:hover {
  color: #000000;
}
h1,
h2,
h3,
h4 {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #414042;
}
h3 {
  letter-spacing: .1em;
}
h1 {
  letter-spacing: .05em;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #414042;
  background-color: #f2f2f2;
}
body:focus {
  outline: 0;
  outline-offset: 0;
}
body ::selection {
  background: #ffff80;
}
body ::-moz-selection {
  background: #ffff80;
}
ul {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  list-style-type: none;
}
ul:focus {
  outline: 0;
  outline-offset: 0;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: #ffffff;
  padding-left: 76px;
  padding-right: 76px;
  padding-top: 22px;
  padding-bottom: 132px;
}
.form {
  margin-top: 22px;
  margin-bottom: 22px;
}
li {
  margin-bottom: 22px;
}
li:focus label {
  color: #0785ff;
}
input,
textarea,
select {
  display: block;
}
label {
  display: block;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 11px;
  color: #9e9ca1;
  letter-spacing: .1em;
  transition: all 0.2s linear;
}
input[type="text"],
textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px;
  font-size: 15px;
  color: #4e4d4f;
  background: linear-gradient(to bottom, #fcfcfc 0%, #ffffff 100%);
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 6px #d6d6d6, inset 0 1px 0 #d6d6d6;
  -moz-box-shadow: inset 0 0 6px #d6d6d6, inset 0 1px 0 #d6d6d6;
  -webkit-box-shadow: inset 0 0 6px #d6d6d6, inset 0 1px 0 #d6d6d6;
  transition: all 0.2s linear;
}
input[type="text"]:focus,
textarea:focus {
  outline: 0;
  outline-offset: 0;
}
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #0785ff;
  color: #000000;
  background: #ffffff;
}
input[type="text"] {
  width: 596px;
  height: 33px;
}
textarea {
  width: 596px;
  max-width: 596px;
}
select {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 6px;
  width: 292px;
  height: 33px;
  font-size: 18px;
  color: #000000;
  border-left: 4px solid #8d8c8f;
  border-right: 4px solid #8d8c8f;
}
select:focus {
  outline: 0;
  outline-offset: 0;
}
select:focus {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-left: 4px solid #0785ff;
  border-right: 4px solid #0785ff;
}
input[type="file"] {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 33px;
  width: 292px;
  padding: 3.6666666666666665px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #8d8c8f;
}
input[type="file"]:focus {
  outline: 0;
  outline-offset: 0;
}
input[type="file"]:focus {
  color: #0785ff;
}
input[type="submit"] {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 33px;
  width: 292px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 3.6666666666666665px;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #414042;
  cursor: pointer;
  border: 1px solid #414042;
  background-color: #fafafa;
  box-shadow: 0 1px 3px #bfbfbf;
  -moz-box-shadow: 0 1px 3px #bfbfbf;
  -webkit-box-shadow: 0 1px 3px #bfbfbf;
}
input[type="submit"]:focus {
  outline: 0;
  outline-offset: 0;
}
input[type="submit"]:hover {
  color: #0785ff;
  border: 1px solid #0785ff;
}
input[type="submit"]:focus {
  color: #0785ff;
  border: 1px solid #0785ff;
}
input[type="submit"]:active {
  color: #0785ff;
  border: 1px solid #0785ff;
  background-color: #ecf6ff;
  box-shadow: 0 1px 0px #ffffff;
  -moz-box-shadow: 0 1px 0px #ffffff;
  -webkit-box-shadow: 0 1px 0px #ffffff;
}
.ui-autocomplete {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  z-index: 100;
  background-color: #f5f5f5;
  color: #414042;
  box-shadow: 0 1px 6px #dedede;
  -moz-box-shadow: 0 1px 6px #dedede;
  -webkit-box-shadow: 0 1px 6px #dedede;
}
.ui-autocomplete:focus {
  outline: 0;
  outline-offset: 0;
}
.ui-menu-item {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.ui-menu-item:focus {
  outline: 0;
  outline-offset: 0;
}
.ui-menu .ui-menu-item a {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  text-decoration: none;
  color: #7e7c80;
  display: block;
  cursor: pointer;
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #f5f5f5;
}
.ui-menu .ui-menu-item a:focus {
  outline: 0;
  outline-offset: 0;
}
.ui-state-focus,
.ui-state-hover {
  border-right: 1px solid #0785ff !important;
  border-left: 1px solid #0785ff !important;
  border-bottom: 1px solid #0785ff !important;
  border-top: 1px solid #0785ff !important;
  background-color: #ffffff;
  color: #000000 !important;
}
a.ui-state-focus,
a.ui-state-hover {
  background-color: #ffffff;
}
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
ul {
  width: 520px;
}
ul.projects .project-title {
  font-weight: 700;
}
ul.projects .project-people {
  font-weight: 600;
  color: #000000;
}
ul.projects .project-description {
  font-weight: 300;
  color: #000000;
}
ul.projects .project-countries {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #5a595c;
  letter-spacing: .08em;
}
ul.topics .topic-title {
  font-weight: 700;
  text-transform: capitalize;
}
ul.people .person-name {
  font-weight: 700;
}
ul.people .person-title {
  font-style: italic;
  color: #000000;
  font-weight: 300;
}
ul.people .person-email {
  font-weight: 700;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14.4px;
}
ul.people .person-interests {
  font-weight: 700;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14.4px;
  text-transform: uppercase;
  letter-spacing: .08em;
}
.helpBubble {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #3984cd;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 6px rgba(65, 64, 66, 0.7);
  -moz-box-shadow: 0 1px 6px rgba(65, 64, 66, 0.7);
  -webkit-box-shadow: 0 1px 6px rgba(65, 64, 66, 0.7);
}
.helpBubble .helpText {
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.08em;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
}
