@import "reset.less";
@import "colors.less";
@import "typography.less";
@import "effects.less";


@text: @gray1;
@back: @white;

body { .type-base; position: relative; background-color: @back; color: @text;
       padding-left: @em2; padding-right: @em2; }
a    { color: @black; .bold; 
&:hover { color: @orange; }}
p    { .reset-spacing; margin-bottom: @vu; }
h1, h2, h3 { font-weight: 700; .margins;}
h1   { font-size: @vu2; line-height: @vu2; .headline_adjust(1px);}
h2   { font-size: @vu;  line-height: @vu; .headline_adjust(4px); }
h3   { .text-big; .headline_adjust(2px); }

em { font-style: italic; }
strong {font-weight: 700; }


@colwidth: @em * 24;

header {
  height: @vu * 4.5;
  padding-top: @vu;
  border-bottom: 2px solid @text;
  overflow: hidden;
  .titleblock {
    height: @vu * 4;
    width: @colwidth;
    float: left;
    .title {
      padding-top: @vu;
      .bold;
      .uppercase;
      font-size: @vu * 1.5;
      .move_up(16px);
      display: inline-block;
    }
    padding-bottom: @vu * 0.5;
  }
  .column {
    height: @vu * 4;
    .reset-spacing;
    p { .reset-spacing; .paddings;}
    width: @colwidth;
    float: left;
    padding-bottom: @vu * 0.5;
  }
  .edit {
    // .bump_down(1);
  }
}

.controls {
  position: absolute;
  left: @em2 + 2;
  top: @vu3;
  div {
    //.transition(0.3s);
    float: left;
    opacity: 0.6;
    margin-right: @em3;
    &:hover { opacity: 1.0; }
    cursor: pointer;
  }
  .current_view { opacity: 1.0; }
}

.categories, .expansion-switch {
  display: none;
}

/*
      (line) link
      (g) node
        (foreignElement)
          (div)
            (div)
            (description)
              (div)
                (img) picture
              (md) details <-- this is where more elements can go

        (g) dots
          (inner circle) .dot
          (outer circle) .dot outline

      
*/

line.link {
  stroke: @text;
  stroke-width: 3px;
}


circle.dot-outline {
  fill: fade(lighten(@black, 15%), 80%);
  stroke-width: 1px;
}

g.dots {
  fill: @text;
  cursor: pointer;
}

.project .dot { fill: @gray5; }
.person  .dot { fill: @orange; }
.topic   .dot { fill: @blue; }

rect {
  fill: fade(@text, 20%);
}


g.foreignWrapper {
  cursor: pointer;
}

div.node-title {
  position: inherit;
  overflow: hidden;
  padding-left: @em * 0.5;
  padding-right: @em * 0.5;
  padding-top: @em * 0.25;
  padding-bottom: @vu * 0.25;
}

div.node-detail-wrapper {
    position: absolute;
}

div.node-details {
  padding-left: @em * 0.5;
  padding-right: @em * 0.5;
  padding-top: @em * 0.25;
  padding-bottom: @vu * 0.25;
  background: fade(@black, 70%);
}

.person .node-title {
  color: @black;
}
.project .node-title {
  .italic;
  .light;
  color: @gray4;
}


.topic .node-title {
  .bold;
  .uppercase;
  .tracking(0.1);
  .text-small;
  color: @gray3;
}

.topicMenuWrapper {
   position: absolute;
   top: @vu * 6;
   z-index: 9;
   width: @em * 15;
   height: @vu * 15;
  .topicToggle {
    .bold;
    .uppercase;
    .tracking(0.1);
    .text-small;
    color: @gray6;
    cursor: pointer;
    padding-right: @em;
    &:hover{
      color: @gray1;
      // border-right: 2px solid @gray9;
    }
  }
  .selected {
    color: @blue;
  }
}

.countryMenuWrapper {
   position: absolute;
   top: @vu * 6;
   z-index: 9;
   width: @em * 12;
   height: @vu * 15;
  .country {
    .bold;
    .uppercase;
    .tracking(0.1);
    .text-small;
    color: @gray4;
    cursor: pointer;
    padding-right: @em;
    &:hover{
      color: @orange;
      // border-right: 2px solid @gray9;
    }
  }
  .selected {
    color: @orange;
  }
}

.projectlistWrapper {
   position: absolute;
   top: @vu * 6;
   left: @em * 51;
   z-index: 9;
   width: @em * 24;
   height: @vu * 15;
    .term { 
        .bold; .uppercase; 
        color: @gray6;
        font-size: @em * 0.8;
    }
   .countryName {
       .bold;
       .uppercase;
       margin-bottom: @vu;
       color: @gray4;
       .tracking(0.1);
   }
    .countryProject {
        padding-right: @em;
        .title {
        }
        .people {
            .light;
            .italic;
        }
        .partners {
            .partnerList { .italic; .light; }
        }
        .description { .light; color: @gray4;}
        margin-bottom:@vu;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: fade(@black, 80%);
    form.login-form {
        width: @em * 32;
        margin: 0 auto;
        margin-top: @vu * 4;
        background-color: @white;
        color: @back;
    }
}
