{% extends "home.html" %}
{% load url from future %}

    {% block content %}

      {% if validlink %}

        <h1 class="header">
          Choose a new password
        </h1>

        <p>
        Please fill out both password fields, to ensure that the password is
        typed correctly.
        </p>
        {% if form.errors %}
        {% for error in form.errors %}
          <p class="error">
          {{ error|escape }}
          </p
        {% endfor %} 
        {% endif %} 

        <form class="set-password-form" method="post" action=".">
          {% csrf_token %}

          <div class="field-row">
            <p class="field-label">{{ form.new_password1.label_tag }}</p>
            <p class="field">{{ form.new_password1 }}</p>
          </div>

          <div class="field-row">
            <p class="field-label">{{ form.new_password2.label_tag }}</p>
            <p class="field">{{ form.new_password2 }}</p>
          </div>

          <div class="field-row">
            <input type="submit" name="submit" class="submit-button" value="Set the new password" />
          </div>
        </form>

      {% else %}

        <!--reset link didn't work-->

        <h1 class="header">
          Err ... we're having trouble resetting your password
        </h1>
        <p>
          It seems like the password reset link you used was no longer valid.
          This typically means that it has been used before. You can  have us
          <a href="{% url 'django.contrib.auth.views.password_reset' %}">
            resend the email</a>,
          or you can
          <a href="mailto:bgolder@mit.edu">email us</a>.
        </p>

      {% endif %}

    {% endblock %}


