{% extends "home.html" %}

    {% block content %}

      <h1 class="login-header">
        DUSP Explorer Faculty/Staff Password Reset
      </h1>

      <p>
        Enter your email address and we'll send you an email with a link to
        reset your password. Give it a minute or two and check your spam box if
        you don't see it.
      </p>
      {% if form.errors %}
        <p class="error">
          We can't find any user accounts with that email. You should 
          <a href="mailto:bgolder@mit.edu" >
            send us an email
          </a>          
          so we can fix the situation.
      {% endif %} 

      <form class="password-reset-form" method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
        {% csrf_token %}

        <div class="field-row">
          <p class="field-label">{{ form.email.label_tag }}</p>
          <p class="field">{{ form.email }}</p>
        </div>

        <div class="field-row">
          <input type="submit" name="submit" class="submit-button" value="Send the email" />
        </div>
      </form>

    {% endblock %}


